# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests as rq
import json
import gmaps
import os

from pprint import pprint

# Import API key
from api_keys import g_key, weather_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv('../output_data/cities.csv', encoding='utf-8', index_col="City_ID")
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,
0,Sitka,US,1601340918,57.05,-135.33,13.00,71,75,3.60
1,Chapayevka,UA,1601340919,47.47,36.35,16.72,55,100,6.55
2,Saint Paul Harbor,US,1601340919,57.79,-152.41,13.00,50,1,5.70
3,Bluff,NZ,1601340919,-46.60,168.33,3.89,69,99,8.94
4,Vaini,TO,1601340919,-21.20,-175.20,26.00,78,75,4.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure gmaps
gmaps.configure(api_key=g_key)

# store latitude and longtitude in locations
locations = city_data_df[['Lat','Lng']] 

# convert values to float
humidity = city_data_df['Humidity'].astype(float)

In [4]:
# plot heatmap
fig = gmaps.figure(center=(15, 2), zoom_level=1.3)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10,
                                                               point_radius=1)
# add layer
fig.add_layer(heat_layer)

# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# define a good weather conditions for vacation trip
# max temperature is 26 Celsius.
# Humidity level is lower than 55%
# Wind speed is below 15mph

goodweather_cond_df = city_data_df.loc[(city_data_df['Max Temp'] <= 20) & 
                                       (city_data_df['Humidity'] < 65) &
                                      (city_data_df['Wind Speed'] < 15) &
                                      (city_data_df['Cloudiness'] < 5)] 
goodweather_cond_df.reset_index(drop=True).dropna()
goodweather_cond_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,
2,Saint Paul Harbor,US,1601340919,57.79,-152.41,13.00,50,1,5.70
30,New Norfolk,AU,1601340736,-42.78,147.06,15.00,58,0,0.89
56,Tocopilla,CL,1601340933,-22.09,-70.20,16.25,61,2,1.33
70,Gisborne,NZ,1601340936,-38.65,178.00,16.67,37,0,4.02
148,Kuruman,ZA,1601340958,-27.45,23.43,4.44,26,0,4.72
161,Lüderitz,NaN,1601340963,-26.65,15.16,12.99,56,0,10.60
166,Águas Vermelhas,BR,1601340964,-15.75,-41.46,19.52,44,0,1.46
176,Balkanabat,TM,1601340966,39.51,54.37,13.44,35,0,2.78
181,Beringovskiy,RU,1601340968,63.05,179.32,6.86,61,0,2.02
214,Svobodnyy,RU,1601340978,51.40,128.13,10.11,60,2,4.97
216,Steamboat Springs,US,1601340978,40.48,-106.83,11.11,15,1,4.10
226,Khudumelapye,BW,1601340981,-23.88,24.75,11.90,29,0,3.74
241,Bukachacha,RU,1601340985,52.98,116.92,7.81,55,0,1.14
265,Genhe,CN,1601340992,50.78,121.52,7.29,58,0,1.60
311,Opuwo,NaN,1601341003,-18.06,13.84,12.97,37,0,1.21
332,Baft,IR,1601341009,29.23,56.61,14.52,56,0,1.14
340,Kul'dur,RU,1601341011,49.22,131.63,10.30,61,0,4.61
361,Green River,US,1601341016,41.53,-109.47,14.00,12,1,4.10
377,Porto San Giorgio,IT,1601341021,43.18,13.79,13.89,44,2,0.89
418,Hope,US,1601341035,33.67,-93.59,19.44,48,0,0.89
432,Pueblo,US,1601341039,38.25,-104.61,17.00,17,1,3.10
436,Paso de Patria,AR,1601341040,-27.25,-58.55,20.00,42,0,4.10
442,Kūhdasht,IR,1601341041,33.53,47.61,14.44,53,0,2.30
445,Dubbo,AU,1601340815,-32.25,148.62,18.00,52,0,5.10
454,Revelstoke,CA,1601341046,50.98,-118.20,17.00,63,1,2.10

In [6]:
hotel_df = goodweather_cond_df[['City','Country','Lat','Lng']].copy()
hotel_df['Hotel Name'] = np.nan
hotel_df.head()

                      City Country    Lat     Lng  Hotel Name
City_ID
2        Saint Paul Harbor      US  57.79 -152.41         NaN
30             New Norfolk      AU -42.78  147.06         NaN
56               Tocopilla      CL -22.09  -70.20         NaN
70                Gisborne      NZ -38.65  178.00         NaN
148                Kuruman      ZA -27.45   23.43         NaN

In [7]:
# define target search

target_search = "hotel"
radius = 5000

# set parameters for search
params = {"keyword": target_search,
    "radius": radius,
    "key": g_key}

# assign url
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [8]:
# looping to acquire hotel name

for index, row in hotel_df.iterrows():
    
    # storing coordinates in params
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # request the API to find hotel in each city qualified the good weather conditions
    print(f"Retrieving Results for Index {index}...")
    
    response = rq.get(url, params=params).json()
    
    # apply exception to avoid system error
    try:
        hotel_name = response['results'][0]['name']
        hotel_df.loc[index, 'Hotel Name'] = hotel_name
        print(f" Found {hotel_name} in {row['City']}")
                 
    except:
        print(f" Skipping as there is no hotel found in '{row['City']}")

Retrieving Results for Index 2...
 Found Best Western Kodiak Inn and Convention Center in Saint Paul Harbor
Retrieving Results for Index 30...
 Found Tynwald Willow Bend Estate in New Norfolk
Retrieving Results for Index 56...
 Found Hostal Paraiso in Tocopilla
Retrieving Results for Index 70...
 Found Portside Hotel - Heritage Collection in Gisborne
Retrieving Results for Index 148...
 Found Kuruman Inn by Country Hotels in Kuruman
Retrieving Results for Index 161...
 Found LÜDERITZ NEST HOTEL in Lüderitz
Retrieving Results for Index 166...
 Skipping as there is no hotel found in 'Águas Vermelhas
Retrieving Results for Index 176...
 Found Nebitchi Hotel in Balkanabat
Retrieving Results for Index 181...
 Found Sberbank Rossii in Beringovskiy
Retrieving Results for Index 214...
 Found Dolce Vita апарт-отель in Svobodnyy
Retrieving Results for Index 216...
 Found Steamboat Grand in Steamboat Springs
Retrieving Results for Index 226...
 Skipping as there is no hotel found in 'Khudumelapye
Retrieving Results for Index 241...
 Skipping as there is no hotel found in 'Bukachacha
Retrieving Results for Index 265...
 Found Genhe Hotel in Genhe
Retrieving Results for Index 311...
 Found Opuwo Country Lodge in Opuwo
Retrieving Results for Index 332...
 Found Shayegan Hotel in Baft
Retrieving Results for Index 340...
 Skipping as there is no hotel found in 'Kul'dur
Retrieving Results for Index 361...
 Found Hampton Inn & Suites Green River in Green River
Retrieving Results for Index 377...
 Found Villa Lattanzi in Porto San Giorgio
Retrieving Results for Index 418...
 Found Hampton Inn & Suites Hope in Hope
Retrieving Results for Index 432...
 Found Station on the Riverwalk in Pueblo
Retrieving Results for Index 436...
 Found Posadas Lo De Manuel, Paso de Patria Ñeembucú in Paso de Patria
Retrieving Results for Index 442...
 Found Azadi Hotel in Kūhdasht
Retrieving Results for Index 445...
 Found Zoofari Lodge in Dubbo
Retrieving Results for Index 454...
 Found The Explorers Society Hotel in Revelstoke

In [9]:
# drop null value in the hotel data
hotel_df.dropna(how="any",inplace=True)

# reset index
hotel_df.reset_index(drop=True, inplace=True)

hotel_df.head()

,City,Country,Lat,Lng,Hotel Name
0,Saint Paul Harbor,US,57.79,-152.41,Best Western Kodiak Inn and Convention Center
1,New Norfolk,AU,-42.78,147.06,Tynwald Willow Bend Estate
2,Tocopilla,CL,-22.09,-70.20,Hostal Paraiso
3,Gisborne,NZ,-38.65,178.00,Portside Hotel - Heritage Collection
4,Kuruman,ZA,-27.45,23.43,Kuruman Inn by Country Hotels

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))